* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#sidebar {
    position: fixed;
    width: 280px;
    height: 100%;
    background: #003062;
    border-right: 4px solid #152c3d;
    left: -280px;

    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;
}

#sidebar.active {
    left: 0px;
}

#sidebar ul li:first-child {
    text-align: center;
    color: #e2dddf;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}

#sidebar ul li:not(first-child) {
    width: 70%;
    margin-left: 10%;
    font-size: 1.1em;
    list-style: none;
    padding: 15px 10px;
}

#sidebar ul li a {
    color: #b7d8f8;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #0a9cf5;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

#sidebar .sidebar-button{
    position: absolute;
    left: 300px;
    padding: 3.5%;
    border-radius: 12px;
    cursor: pointer;

}

#sidebar .sidebar-button:hover span {background: #0a9cf5;}
#sidebar .sidebar-button:hover section{color: #0a9cf5}
#sidebar .sidebar-button span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #003062;
    margin: 4px 0;
    -moz-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

img.topLogo {
    position: absolute;
    width: 10%;
    margin-left: 45.12%;
    top: 9%;
    transform: scale(998%);
}

section.sidebar-button-text{
    color: #003062;
    margin-top: -23px;
    margin-left: 35px;
    -moz-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}


/* Footer Styles */
footer {
    width: 100%;
    height: auto;
    background: #ffffff;
    margin: 0 auto;
    text-align: left;
    padding-top: 25px;
}
.footer-navigation a{
    color: #003062;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
}

.footer-navigation a:hover{
    color: #0a9cf5;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.social {
    padding-left: 46.4%;
    width: 20%;
}

.social img{
    width: 28px;
    height: 28px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    display: block;
}
.social img:hover {
    background: #e2dddf;
    border-radius: 20%;
}

footer #rights {
    width: 100%;
    text-align: right;
    font-size: 1.1em;
    color: #000000;
}

/* footer #footer-logo {
    width: auto;
    height: auto;
    scale: 10%;
} */